# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
HW1/.ipynb_checkpoints/Homework 1-checkpoint.ipynb
*.csv#
HW1/.ipynb_checkpoints/Homework 1-checkpoint.ipynb
HW1/.ipynb_checkpoints/Homework 1-checkpoint.ipynb
HW2/.ipynb_checkpoints/HW2-checkpoint.ipynb
HW3/.ipynb_checkpoints/HW3-checkpoint.ipynb
HW4/.ipynb_checkpoints/hw4-checkpoint.ipynb
*.log
*.pdf
*.gz
